<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/show.css" />
  <title><%= anime.name %></title>
</head>
<body>


<div class="card">
  <img src="/stylesheets/animebackground.jpeg" class="card-img" alt="">
  <div class="card-body">
    <h1 class="card-title"><%= anime.name %></h1>

    <p class="card-info" class="card-sub-title">Name: <%=anime.name %></p>
    <p class="card-info" class="card-sub-title">descriptions: <%=anime.descriptions %></p>
    
      

    <button class="card-btn">
    <a href="/users/<%= user._id %>/animes/<%= anime._id %>/edit">
      Edit
    </a></button>


    <form
     action="/users/<%= user._id %>/animes/<%= anime._id %>?_method=DELETE"method="POST">
    <button class="card-btn" type="submit" title="submit">Delete</button>
    </form>

    <%- include('../partials/_navbar.ejs') %>

  </div>
</div>



</body>
</html>















<!--  <body>
  <%- include('../partials/_navbar.ejs') %>
  
 
  



